<div class="card" style="border-radius: 26px;">
  <p> {{ id }} </p>
  <p style="font-size: 30px;"> <strong> {{ name }}: </strong> {{ calories }} Calories </p>
  <p>Type: {{ type }}</p>
  <p>Ingredients: {{ ingredients }} </p>
  <p>Meal: {{ meal }}</p>
</div>
